.event-content{
    color:white;
}
.book, .book:active, .book:hover, .book:focus, .book:visited{
    display: table;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #21ba45;
    background: #21ba45;
    color: white;
    font-size:15px;
    outline:none;
    margin:auto;
}
.book:disabled{
    opacity: 0.5;
}
.loading-container {
    height: 100%;
    border: none!important;
}
.loading-content{
    margin-top: 3.5rem;
    border: none;
    padding: 0px;
    width: 100%;
}
.create-event-container{
    width:40%;
    margin:auto;
    margin-top:100px;
}
.authentication-page{
        width:30%;
        margin: auto;
        margin-top:150px;
}
.event-card,.single-booking{
    display: block;
    margin: 10px;
    background-color: #1b1c1d;
    padding: 10px;
    float: left;
    width: 30%;
  }
.createEvent {
    background: #21ba45;
    color: white;
    font-weight: bold;
    border: 1px solid #21ba45;
    margin-left: 8px;
    padding: 7px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    box-sizing: border-box;

}
.create-button-container{
    margin-bottom:30px;
    margin-top: 5.5rem;
}

.createEvent:hover {
    background: white;
    color: #21ba45;
    border: 1px solid #21ba45!important;
    font-weight: bold;
    border: none;
    margin-left: 8px;
    padding: 7px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.make-booking {
    padding-top:10px;
}

.events-container{
    display: table;
    margin: auto;
    width: 60%;
    margin-top: 3.5rem;

}
.booking-container{
    display: table;
    margin: auto;
    padding-top: 5%;
    width: 60%;
}
.single-booking{
    min-height: 150px;
}
.event-content{
    min-height: 100px;
}
@media only screen and (max-width: 600px) {
    .main-navigation {
        padding: 0px;
    }
    .book, .book:active,.book:hover,.book:focus,.book:visited{
        border: 1px solid #21ba45;
        background: #21ba45;
        color: white;
        font-size:15px;
        outline:none
    
    }
    .book:disabled{
        opacity: 0.5;
    }
    .event-content{
        color:white;
    }
    .home-page{
        padding-top: 20%!important;
    }
    .main-navigation__logo{
        display:none;
    }
    .main-navigation__items {
        margin-left:0px!important;
    }

    .booking-container{
        padding-top: 15%;
    }
    .createEvent{
        float: right;
        position: fixed;
        right: 10px;
        bottom:20px;
        border-radius:12px;
    }
    .event-card{
        margin: auto;
        display: table;
        width: 100%!important;
        border-bottom: 1px solid #fbbd08;
    }
    .create-button-container{
        margin-bottom:0px;
        margin-top:0px
    }
    .events-container{
        display: block;
        width: 100%;
        margin-top: 3.5rem;
    }
    .booking-container{
        padding-top: 3.5rem;
        width: 100%;
    }
    .single-booking{
        display: block;
        width: 100%;
        margin:0px;
        border-bottom: 1px solid #fbbd08;
        
    }
    .authentication-page{
        width: 50%;
        margin: auto;
        display: block;
        margin-top: 33%;
    
    }
    .create-event-container{
        width: 50%;
         margin: auto;
         margin-top: 23%;
         display: block;
    }
    .main-navigation{
        padding: 0px!important;
    }
    .main-content{
        scroll-behavior: smooth;
    }
    .home-page-button{
        bottom: 100px!important;
    }
  }
 